<div class="container-fluid">
    
    <div class="row justify-content-center mt-4">
        <div class="col-2,4 mb-4  ml-2">
            <div class="card" id="cartao">
                <img class="card-img-top" src="../../assets/IE.jpg" alt="Card image cap">
                <div class="card-body ">
                <h5 class="card-title">Instalações Elétricas</h5>
                <h6 class="card-time">Duração: 80 horas</h6>
                <h6 class="card-type">Tipo: Livre</h6>
                <h6 class="card-type">Sobre:</h6>
                <p class="card-text">Desenvolver as competências relacionadas aos princípios e fundamentos da Eletricidade, 
                    bem como as capacidades de identificar circuitos elétricos de corrente contínua e alternada e medir 
                    grandezas elétricas.</p>
                
                </div>
                <a href="#" class="btn btn-primary">Inscrever-se</a>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-2">
            <div class="card" id="cartao">
                <img class="card-img-top align-items-end" src="../../assets/D.png" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Designer Gráfico</h5>
                <h6 class="card-time">Duração: 80 horas</h6>
                <h6 class="card-type">Tipo: Livre</h6>
                <h6 class="card-type">Sobre:</h6>
                <p class="card-text">Desenvolver projetos gráficos editoriais, utilizando aplicativos gráficos,
                    seguindo normas e procedimentos técnicos.</p>
                </div>
                <a href="#" class="btn btn-primary">Inscrever-se</a>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-2">
            <div class="card" id="cartao">
                <img class="card-img-top" src="../../assets/PY.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Programação em Python</h5>
                <h6 class="card-time">Duração: 60 horas</h6>
                <h6 class="card-type">Tipo: Livre</h6>
                <h6 class="card-type">Sobre:</h6>
                <p class="card-text">O objetivo deste curso é proporcionar aos alunos o desenvolvimento do 
                    raciocínio lógico, para a estruturação de programas em linguagem Python.</p>
                </div>
                <a href="#" class="btn btn-primary ">Inscrever-se</a>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-2">
            <div class="card" id="cartao">
                <img class="card-img-top" src="../../assets/L.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Liderança</h5>
                <h6 class="card-time">Duração: 80 horas</h6>
                <h6 class="card-type">Tipo: Livre</h6>
                <h6 class="card-type">Sobre:</h6>
                <p class="card-text">O Curso de Aperfeiçoamento Profissional Liderança tem por objetivo o desenvolvimento 
                    de competências para aplicar as técnicas de liderança, produtividade e administração dos conflitos 
                    nas relações de trabalho.</p>
                </div>
                <a href="#" class="btn btn-primary ">Inscrever-se</a>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-2">
            <div class="card" id="cartao">
                <img class="card-img-top" src="../../assets/PBI.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Análise de Dados</h5>
                <h6 class="card-time">Duração: 24 horas</h6>
                <h6 class="card-type">Tipo: Livre</h6>
                <h6 class="card-type">Sobre:</h6>
                <p class="card-text pb-65">O curso de Análise de Dados e Power BI tem por objetivo capacitar os profissionais
                    na utilização de recursos de análise de grandes volumes de dados, utilizando o Microsoft Excel, 
                    entre outros softwares de banco de dados.</p>
                </div>
                <a href="#" class="btn btn-primary">Inscrever-se</a>
            </div>
        </div>
    </div>
</div>