<div class="container-fluid">
    <nav class="row navbar navbar-expand-md navbar-light" id="nave">
        <a class="navbar-brand" href="#">
            <p class="text-white display-4 font-weight-bold ">Curs0s Learn</p> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#call_option" aria-controls="call_option" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse justify-content-end" id="call_option">
            <ul class="nav nav-tabs justify-content-center mt-5">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item b">
                    <a class="nav-link text-white" href="#">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</div>